* {
    box-sizing: border-box;
}

body{
    background: #23252C;
    margin: 44px 44px 117px 117px;
    font-family: 'Inter', sans-serif;
}

.main--img{
    width: 317px;
    height: 317px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}

.main--text{
    background: #F5F5F5;
    width: 317px;
    height: 450px;
}

.main--title {
    margin-top: -5px;
    margin-bottom: 0px;
    color: #2B283A;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    color: #2B283A;
    padding-top: 20px;
}

.main--subtitle {
    color: #2B283A;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #F47D27;
    margin-top: 10px;
    margin-bottom: 10px;
}

.main--link{
    text-align: center;
    margin: 0px;
}

.main--link a{
    text-decoration: none;
    color: #4A4E74;
    font-weight: 400;
    font-size: 12px;
}

.main--buttons{
    display: flex;
    padding: 20px;
    justify-content: center;
}

.btn{
    display: flex;
    padding: 9px 13px 9px 11px;
    border-radius: 6px;
    border: 0px;
    font-size: 14px;
    width: 115px;
    height: 34px;
    justify-content: center;
    align-items: center;

}

#btn-1{
    background-color: #D1D5DB;
    color: #374151;
}

#btn-1:hover{
    background-color: #918E9B;
}

#btn-2{
    background-color: #207FE5;
    color: white;
    margin-left: 20px;
}

#btn-2:hover{
    background-color: #918E9B;
}

.btn--img1{
    width: 15px;
    margin-right: 10px;
}

.btn--img2{
    width: 20px;
    margin-right: 10px;
}

.footer {
    display:flex;
    align-items: center;
    justify-content: center;
    background: #D5D4D8;
    height: 70px;
    width: 317px;
    border-radius: 0px 0px 10px 10px;
}

.main--section{
    margin-left: 35px;
    color: #2B283A;
    font-size: 14px;
    width: 247px;
}

.footer-btn{
    display: flex;
    flex-direction: column;
    padding: 28px;
    border-radius: 6px;
    border: 0px;
    font-size: 11px;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
}

.footer-btn:hover{
    background-color: #918E9B;
    color: #918E9B;
}

.footer-img{
    width: 25px;
    margin: 5px;
}